#sectionartigo {
    background-color: rgb(135, 222, 222);
    transition: background-color 2s;
}

#sectionartigo:hover{
    background-color: blueviolet;
}

h1{
    transition: transform 2s;
}

h1:hover{
    transform: rotate(20deg);
}

.linha3 h2, .linha3 p{
    transition: transform 2s;
}

.linha3 h2:hover, .linha3 p:hover{
    transform: scale(2,2)
}